header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 1.5rem;
    width: 100%;
    height: 7rem;
    box-sizing: border-box;
    background-color: $color-background-secondary;
    z-index: 3;

    @media only screen and (min-width: $mq-3) {
        padding: .3rem 2.5rem;
    }

    @media only screen and (min-width: $mq-5) {
        position: initial;
    }

    .site-logo {
        max-height: 7rem;
        width: auto;
    }

    nav {
        position: absolute;
        top: -30rem;
        left: 0;
        padding: 3rem 2rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 3rem;
        width: 100%;
        flex-grow: 2;
        background-color: $color-background-secondary;
        transition: top .5s ease;
        z-index: 5;

        @media only screen and (min-width: $mq-5) {
            position: initial;
            flex-direction: row;
            gap: 1.5rem;
            background-color: transparent;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;
            width: 100%;
            height: 100%;

            @media only screen and (min-width: $mq-5) {
                flex-direction: row;
                gap: 1.5rem;
            }

            li {
                text-align: center;

                a {
                    position: relative;
                    font-size: 15px;
                    color: $color-primary;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -.5rem;
                        left: 0;
                        height: .15rem;
                        width: 0%;
                        background-color: $color-secondary;
                        border-radius: 1rem;
                        transition: width .5s ease;
                    }

                    &:hover {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .a-button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            gap: .5rem;
            white-space: nowrap;

            .i-profile {
                width: 2rem;
            }
        }

        .account-buttons {
            display: flex;
            gap: 1rem;

            .logout-button {
                padding: 7px 10px;
                border-radius: 50%;
            }
        }
    }

    .burger-menu {
        display: block;
        padding: .8rem 0;
        background-color: transparent;
        cursor: pointer;

        @media only screen and (min-width: $mq-5) {
            display: none;
        }

        .burger-body {
            position: relative;
            width: 2rem;
            height: .25rem;
            border-radius: 1rem;
            background-color: $color-primary;
            transition: background-color .5s ease-in-out;

            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color-primary;
                border-radius: 1rem;
                transition: all .5s ease-in-out;
            }

            &:before {
                top: -.6rem;
            }

            &:after {
                bottom: -.6rem;
            }
        }
    }
}

.menu-open {
    transition: background-color .5s ease;
    background-color: $color-background-secondary;


    // WARNING : "max-width" and not "min-width" like the rest of media queries
    @media only screen and (max-width: $mq-5) {
        nav {
            top: 98px;
        }

        .burger-menu {
            > div {
                background-color: transparent;

                &:before {
                    transform: translateY(10px) rotate(45deg);
                }

                &:after {
                    transform: translateY(-9px) rotate(-45deg);
                }
            }
        }
    }
}
