@charset "UTF-8";
/*
 ******** Settings *********
 */
@keyframes leftShift {
  50% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translatex(0);
  }
}
@keyframes balance {
  25% {
    transform: rotate(80deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0);
  }
}
.h-bg-primary {
  background-color: #111111;
}

.h-bg-secondary {
  background-color: #110011;
}

.h-bg-white {
  background-color: #ffffff;
}

.h-color-primary {
  color: #a52a2a;
}

.h-color-white {
  color: #ffffff;
}

.h-fz-12 {
  font-size: 12px;
}

.h-fz-14 {
  font-size: 14px;
}

.h-fz-16 {
  font-size: 16px;
}

.h-fz-18 {
  font-size: 18px;
}

.h-fz-20 {
  font-size: 20px;
}

.h-fz-22 {
  font-size: 22px;
}

.h-fz-30 {
  font-size: 30px;
}

.h-fw-bold {
  font-weight: 700;
}

/*
 ******** Basics *********
 */
footer .footer-compagny {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  footer .footer-compagny {
    flex-direction: row;
    max-height: 350px;
  }
}
footer .footer-compagny .compagny-contact {
  display: flex;
  justify-content: flex-end;
  padding: 3rem 2rem;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 769px) {
  footer .footer-compagny .compagny-contact {
    width: 50%;
  }
}
footer .footer-compagny .compagny-contact > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 3.5rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffffff;
}
footer .footer-compagny .compagny-contact > div h2 {
  font-size: 28px;
  margin: 0;
}
footer .footer-compagny .compagny-contact > div .compagny-adress {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .footer-compagny .compagny-contact > div .compagny-adress p {
  margin: 0;
}
footer .footer-compagny .compagny-contact > div .compagny-adress .fa-solid {
  padding: 0.65rem;
  font-size: 24px;
  color: #ffffff;
  background-color: #00779A;
  border-radius: 40% 35% 48% 37%;
}
footer .footer-compagny .compagny-contact > div .compagny-links {
  display: flex;
  gap: 0.6rem 0.8rem;
  flex-wrap: wrap;
}
footer .footer-compagny .compagny-contact > div .compagny-links span {
  cursor: default;
}
footer .footer-compagny .compagny-map {
  width: 100%;
  max-height: 100%;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1.5rem;
}
footer .footer-bottom .footer-bottom-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem 2rem;
  padding: 1.5rem;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  footer .footer-bottom .footer-bottom-left {
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .footer-bottom .footer-bottom-left li {
  text-align: center;
}
footer .footer-bottom .footer-logo {
  max-height: 80px;
  width: auto;
}
@media only screen and (min-width: 769px) {
  footer .footer-bottom .footer-logo {
    max-height: 120px;
  }
}
footer .footer-bottom .footer-bottom-right {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .footer-bottom .footer-bottom-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
footer .footer-bottom .footer-bottom-right ul li {
  font-size: 28px;
}
footer .footer-bottom .footer-bottom-right ul .fa-youtube {
  color: #F70000;
}
footer .footer-bottom .footer-bottom-right ul .fa-instagram {
  color: #D42D7A;
}

html {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  background-color: #F1F1F1;
  min-height: 100vh;
  width: 100%;
  min-width: 360px;
  overflow-x: hidden;
}
body * {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 769px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 20px;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 769px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  font-size: 16px;
}
@media only screen and (min-width: 769px) {
  h3 {
    font-size: 18px;
  }
}

h1,
h2,
h3 {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  padding: 0;
  border: none;
}

form input,
form select,
form label {
  cursor: pointer;
}
form label {
  display: block;
  margin-bottom: 1rem;
}
form input[type=text],
form input[type=number],
form input[type=email],
form input[type=password],
form input[type=tel],
form select,
form textarea {
  padding: 0.5rem;
  font-size: 14px;
  border: none;
  border-bottom: 0.1rem solid grey;
}

section {
  padding: 2rem 0;
}
section:first-of-type {
  padding-top: 0;
}

main {
  margin-top: 112px;
}
@media only screen and (min-width: 769px) {
  main {
    margin-top: 0;
  }
}

iframe {
  width: 100%;
  height: 100%;
}

.to-top {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  padding: 18px 20px;
  border-radius: 50%;
  color: #00779A;
  background-color: #faf8f8;
  border: 1px solid #014256;
  z-index: 8;
  opacity: 0;
  visibility: hidden;
}
.to-top.active {
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 769px) {
  .to-top {
    display: block;
  }
}

.inner-page {
  padding: 3rem 2rem;
}
@media only screen and (min-width: 769px) {
  .inner-page {
    padding: 3rem;
  }
}

.limited-width {
  max-width: 1208px;
  margin: 0 auto;
}

.img-container {
  width: 100%;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 0.5rem;
}
.rounded * {
  border-radius: inherit;
}

.double-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (min-width: 769px) {
  .double-container {
    flex-direction: row;
  }
}

.text-danger {
  display: none;
  margin-top: 0.5rem;
  color: red;
}

#error-check-user-connected {
  color: red;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1.5rem;
  width: 100%;
  height: 7rem;
  box-sizing: border-box;
  background-color: #faf8f8;
  z-index: 3;
}
@media only screen and (min-width: 426px) {
  header {
    padding: 0.3rem 2.5rem;
  }
}
@media only screen and (min-width: 769px) {
  header {
    position: initial;
  }
}
header .site-logo {
  max-height: 7rem;
  width: auto;
}
header nav {
  position: absolute;
  top: -30rem;
  left: 0;
  padding: 3rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  width: 100%;
  flex-grow: 2;
  background-color: #faf8f8;
  z-index: 5;
}
@media only screen and (min-width: 769px) {
  header nav {
    position: initial;
    flex-direction: row;
    gap: 1.5rem;
    background-color: transparent;
  }
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 769px) {
  header nav ul {
    flex-direction: row;
    gap: 1.5rem;
  }
}
header nav ul li {
  text-align: center;
}
header nav ul li a {
  position: relative;
  font-size: 15px;
}

header nav .a-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  gap: 0.5rem;
  white-space: nowrap;
}
header nav .a-button .i-profile {
  width: 2rem;
}
header nav .account-buttons {
  display: flex;
  gap: 1rem;
}
header nav .account-buttons .logout-button {
  padding: 7px 10px;
  border-radius: 50%;
}
header .burger-menu {
  display: block;
  padding: 0.8rem 0;
  background-color: transparent;
  cursor: pointer;
}
@media only screen and (min-width: 769px) {
  header .burger-menu {
    display: none;
  }
}
header .burger-menu .burger-body {
  position: relative;
  width: 2rem;
  height: 0.25rem;
  border-radius: 1rem;
  background-color: #00779A;
}
header .burger-menu .burger-body:before, header .burger-menu .burger-body:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00779A;
  border-radius: 1rem;
}
header .burger-menu .burger-body:before {
  top: -0.6rem;
}
header .burger-menu .burger-body:after {
  bottom: -0.6rem;
}

.menu-open {
  background-color: #faf8f8;
}
@media only screen and (max-width: 769px) {
  .menu-open nav {
    top: 98px;
  }
  .menu-open .burger-menu > div {
    background-color: transparent;
  }
  .menu-open .burger-menu > div:before {
    transform: translateY(10px) rotate(45deg);
  }
  .menu-open .burger-menu > div:after {
    transform: translateY(-9px) rotate(-45deg);
  }
}

/*
 ******** Pages *********
 */
.favorites-container.horizontal:has(.notification) {
  padding-bottom: 3rem;
}

.notification {
  position: relative;
  padding: 1rem 1rem 1.5rem;
  background-color: #faf8f8;
  min-width: calc(320px - 4rem);
  max-width: -moz-min-content;
  max-width: min-content;
  height: 110px;
  border-radius: 5px;
}
.notification.open .notification-content {
  height: -moz-fit-content;
  height: fit-content;
  visibility: visible;
  opacity: 1;
}
.notification p {
  margin: 0;
}
.notification .notification-title {
  font-size: 14px;
  font-weight: bold;
  color: #014256;
  white-space: break-spaces;
}
.notification .notification-date {
  color: #00779A;
}
.notification .notification-content {
  margin-top: 25px;
  color: #000000;
  height: 0;
  visibility: hidden;
  opacity: 0;
}
@media only screen and (min-width: 769px) {
  .notification .notification-content p {
    white-space: nowrap;
  }
}
.notification .notification-content a {
  color: #014256;
  text-decoration: underline;
}
.notification .open-notification {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.45rem 0.7rem;
  font-size: 20px;
  color: #014256;
  border: 2px solid #faf8f8;
  border-radius: 50%;
  cursor: pointer;
}

.user-researches .favorites-container {
  gap: 1rem;
}
.user-researches .favorites-container a {
  border-radius: 5px;
  border: 3px solid transparent;
}
.user-researches .favorites-container a .register-research {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0.8rem 1.5rem 0.25rem;
  background-color: #faf8f8;
  border-radius: 5px;
}
.user-researches .favorites-container a .register-research li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-researches .favorites-container a .register-research li i {
  font-size: 20px;
  color: #00779A;
}
.user-researches .favorites-container a .register-research li p {
  white-space: nowrap;
}

.profiles-clients .user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}
.profiles-clients .user-profile ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0.8rem 1.5rem 0.25rem;
  background-color: #faf8f8;
  border-radius: 5px;
}
.profiles-clients .user-profile ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profiles-clients .user-profile ul li i {
  font-size: 20px;
  color: #00779A;
}
.profiles-clients .user-profile ul li p {
  white-space: nowrap;
}
.profiles-clients .user-profile .write-notif-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.profiles-clients .user-profile .write-notif-area.active .write-notification-client {
  display: none;
}
.profiles-clients .user-profile .write-notif-area.active form {
  display: flex;
}
.profiles-clients .user-profile .write-notif-area form {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.profiles-clients .user-profile .write-notif-area textarea {
  width: 90%;
  resize: vertical;
}

.account-form .contact-form {
  margin: 0 auto;
}

.delete-favorite {
  position: absolute;
  font-size: 24px;
  top: 0.3rem;
  right: 0.8rem;
  color: #009A70;
  cursor: pointer;
}

.contact-page,
.sale-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-page p,
.sale-page p {
  margin: 0;
}

.container-news h2 {
  text-align: center;
}
@media only screen and (min-width: 769px) {
  .container-news h2 {
    text-align: left;
  }
}

@media only screen and (min-width: 769px) {
  .container-agency .img-container {
    min-width: 400px;
  }
}
.container-agency .img-container img {
  max-height: 20rem;
}
.container-agency ul {
  margin-bottom: 2rem;
}
.container-agency .listing-expertises {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 3.2rem;
  gap: 2.5rem 1.5rem;
}
.container-agency .listing-expertises .expertise {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-agency .listing-expertises .expertise .expertise-icon {
  font-size: 36px;
  padding: 1.5rem;
  color: #ffffff;
}
.container-agency .listing-expertises .expertise h3 {
  position: relative;
  text-align: center;
}
.container-agency .listing-expertises .expertise h3:after {
  content: "";
  position: absolute;
  height: 0.15rem;
  width: 4.4rem;
  bottom: -1.2rem;
  left: calc(50% - 2.2rem);
  background-color: red;
}
.container-agency .listing-expertises .expertise:nth-child(1) .expertise-icon {
  background-color: #EF893E;
  border-radius: 42% 35% 50% 29%;
}
.container-agency .listing-expertises .expertise:nth-child(1) h3:after {
  background-color: #EF893E;
}
.container-agency .listing-expertises .expertise:nth-child(2) .expertise-icon {
  background-color: #8E8E8E;
  border-radius: 35% 42% 38% 50%;
}
.container-agency .listing-expertises .expertise:nth-child(2) h3:after {
  background-color: #8E8E8E;
}
.container-agency .listing-expertises .expertise:nth-child(3) .expertise-icon {
  background-color: #ABC549;
  border-radius: 44% 42% 50% 35%;
}
.container-agency .listing-expertises .expertise:nth-child(3) h3:after {
  background-color: #ABC549;
}

.container-testimony {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 775px;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 4rem;
  overflow-x: hidden;
}
.container-testimony h2 {
  margin-bottom: 0;
  text-align: center;
}

.title-save {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 0 2rem;
}
.title-save h1 {
  margin-bottom: 1rem;
}
.title-save .a-button {
  min-height: 40px;
  font-size: 14px;
}
.title-save .a-button i {
  margin-right: 10px;
}

.property-presentation h1 {
  margin-bottom: 0;
}
.property-presentation .presentation-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.5rem 0;
}
.property-presentation .presentation-header p {
  margin: 0.2rem;
}
.property-presentation .presentation-header .a-button {
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 50%;
  line-height: 1;
  color: #F1F1F1;
  height: -moz-fit-content;
  height: fit-content;
}
.property-presentation .presentation-header .a-button.as--favorite {
  background-color: #faf8f8;
  color: red;
}
.property-presentation .property-carrousel {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}
.property-presentation .property-carrousel .carrousel-current-img {
  position: relative;
}
@media only screen and (min-width: 769px) {
  .property-presentation .property-carrousel .carrousel-current-img {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.property-presentation .property-carrousel .carrousel-current-img .img-container {
  margin: 0 auto;
  max-width: 1020px;
  max-height: 510px;
}
.property-presentation .property-carrousel .slider-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  margin: 1.5rem auto;
  max-width: 1040px;
  overflow-x: scroll;
  -ms-overflow-style: none;
}
@media only screen and (min-width: 769px) {
  .property-presentation .property-carrousel .slider-tags {
    justify-content: center;
    scrollbar-width: none;
  }
  .property-presentation .property-carrousel .slider-tags ::-webkit-scrollbar {
    display: none;
  }
}
.property-presentation .property-carrousel .slider-tags li {
  cursor: pointer;
  position: relative;
}
.property-presentation .property-carrousel .slider-tags li.active .img-container:after {
  content: "";
}
.property-presentation .property-carrousel .slider-tags li.active i {
  display: block;
}
.property-presentation .property-carrousel .slider-tags li .img-container {
  position: relative;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 75px;
}
.property-presentation .property-carrousel .slider-tags li .img-container:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}
.property-presentation .property-carrousel .slider-tags li .img-container img {
  width: 140px;
  max-height: inherit;
}
.property-presentation .property-carrousel .slider-tags li i {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}
.property-presentation #error-check-user-connected {
  display: block !important;
  text-align: right;
}
.property-presentation .property-criterias {
  border-top: 1px solid #111111;
  padding: 1.3rem 0 1rem;
}
.property-presentation .property-criterias ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.8rem 2rem;
}
@media only screen and (min-width: 769px) {
  .property-presentation .property-criterias ul {
    justify-content: flex-start;
  }
}
.property-presentation .property-criterias ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  max-width: 92px;
  font-size: 14px;
}
@media only screen and (min-width: 769px) {
  .property-presentation .property-criterias ul li {
    font-size: 16px;
  }
}
.property-presentation .property-criterias ul li p {
  margin-bottom: 0;
}
.property-presentation .property-criterias ul li i {
  font-size: 26px;
  color: #00779A;
}
@media only screen and (min-width: 769px) {
  .property-presentation .property-criterias ul li i {
    font-size: 38px;
  }
}
.property-presentation .property-description {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
  padding-bottom: 5rem;
}
@media only screen and (min-width: 1025px) {
  .property-presentation .property-description {
    flex-direction: row;
    gap: 3rem;
    padding-bottom: 8rem;
  }
}
.property-presentation .property-description .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  .property-presentation .property-description .left {
    width: 50%;
    min-width: 500px;
  }
}
.property-presentation .property-description .right {
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  .property-presentation .property-description .right {
    width: 50%;
  }
}
.property-presentation .property-description .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.property-presentation .property-description .contact-form form {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 3rem;
  border-radius: 20px;
  max-width: 600px;
}
.property-presentation .property-description .contact-form form > div:not(:has(textarea)) {
  width: calc(50% - 2rem);
  min-width: 175px;
}
.property-presentation .property-description .contact-form form input {
  width: 100%;
}
.property-presentation .property-description .contact-form form [type=submit] {
  margin: 0 100%;
}
.property-presentation .property-description .property-map {
  height: 300px;
}
@media only screen and (min-width: 1025px) {
  .property-presentation .property-description .property-map {
    max-width: 100%;
    min-height: 100%;
    max-height: initial;
  }
}

/*
 ******** Components *********
 */
.block-columns {
  width: 50%;
  height: 3rem;
  background-color: green;
}

.a-button {
  padding: 0.6rem 1rem;
  font-size: 15px;
  cursor: pointer;
}

.a-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.pagination {
  margin: 4rem 0;
}
.pagination .a-button {
  text-transform: uppercase;
  border-radius: 0;
  font-size: 14px;
  border: 1px solid #014256;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 769px) {
  .cards-container {
    align-items: flex-start;
    gap: 4rem 3rem;
  }
}
.cards-container .a-button {
  font-size: 13px;
  margin: 1rem auto 0;
}

.card-immo {
  min-width: 275px;
}
.card-immo.hidden-to-clients .hidden-property {
  display: block !important;
}
.card-immo .img-container {
  position: relative;
  height: 15rem;
}
.card-immo .img-container .filter-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.card-immo .img-container .favorite-date {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  z-index: 3;
}
.card-immo .img-container .price-property {
  position: absolute;
  bottom: 0.7rem;
  right: 0.7rem;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.card-immo .img-container .hidden-property {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #ffffff;
  font-size: 50px;
}
.card-immo p {
  margin: 0;
}
.card-immo .title-property {
  font-size: 14px;
  font-weight: bold;
}
.card-immo .city-property {
  font-size: 14px;
}
.card-immo .criterias-property {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}
.card-immo .criterias-property > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  flex-grow: 2;
}

.news-cards .card-immo {
  width: 30%;
}
.favorites-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: #F1F1F1;
  border-radius: 10px;
}
.favorites-container::-webkit-scrollbar {
  width: 14px;
  background-color: #F1F1F1;
}
.favorites-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #009A70;
  cursor: grab;
}
.favorites-container::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
.favorites-container.horizontal {
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  padding-bottom: 1.5rem;
  overflow: scroll hidden;
}
.favorites-container.vertical {
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding-bottom: 0.5rem;
  overflow: scroll scroll;
}
.favorites-container .favorite-card {
  width: 25%;
  min-width: 250px;
}
.favorites-container .favorite-card .card-immo {
  min-width: 100%;
}
.favorites-container .favorite-card .admin-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.favorites-container .favorite-card .admin-actions .a-button {
  font-size: 13px;
}
.favorites-container .interested-clients {
  display: none;
  margin-top: 1.5rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
  border-left: 2px solid #8E8E8E;
  border-right: 2px solid #8E8E8E;
}
.favorites-container .interested-clients.active {
  display: block;
}
.favorites-container .interested-clients p {
  color: #014256;
  margin: 0 0 0.5rem;
}
.favorites-container .interested-clients li {
  position: relative;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}
.favorites-container .interested-clients li:before {
  content: "•";
  position: absolute;
  top: 0;
  left: -1rem;
  color: #009A70;
}
.favorites-container .interested-clients a {
  color: #00779A;
  text-decoration: underline;
}

.contact-form {
  margin-top: 2rem;
  width: 100%;
  max-width: 750px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.contact-form form > div {
  width: calc(50% - 1rem);
  min-width: 220px;
}
.contact-form form > div input,
.contact-form form > div select {
  width: 100%;
}
.contact-form form > div:has(textarea) {
  width: 100%;
}
.contact-form form > div:has(textarea) textarea {
  width: 100%;
  resize: vertical;
}
.contact-form form > div:has([type=checkbox]) {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.contact-form form > div:has([type=checkbox]) div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.contact-form form > div:has([type=checkbox]) label {
  margin: 0;
}
.contact-form form > div:has([type=checkbox]) [type=checkbox] {
  width: 20px;
  height: 15px;
  margin: 0;
}
.contact-form form > div:has([type=file]) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form form > div:has([type=file]) [type=file] {
  width: -moz-fit-content;
  width: fit-content;
}
.contact-form form > div:has([type=submit]) {
  width: 100%;
  text-align: center;
}
.contact-form form .radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.contact-form form .radio-inputs > div {
  display: flex;
  gap: 0.5rem;
}
.contact-form form .radio-inputs > div label {
  margin: 0;
  white-space: nowrap;
}

.a-link {
  position: relative;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
}
.a-link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: calc(100% + 20px);
  height: 1px;
}
.a-link:after {
  content: ">";
  position: absolute;
  right: -20px;
  top: -2px;
  font-size: 16px;
}

#login-section {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
@media only screen and (min-width: 769px) {
  #login-section {
    padding: 0 3rem;
  }
}
#login-section.active {
  display: flex;
}
#login-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}
#login-section .login-modal {
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  background-color: #faf8f8;
  z-index: 11;
  -ms-overflow-style: none;
  scrollbar-width: none;
  top: -20%;
}
#login-section .login-modal::-webkit-scrollbar {
  display: none;
}

#login-section .login-modal .login-interface,
#login-section .login-modal .register-interface {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#login-section .login-modal .login-interface.active,
#login-section .login-modal .register-interface.active {
  display: flex;
}
#login-section .login-modal .login-interface .close-modal,
#login-section .login-modal .register-interface .close-modal {
  position: absolute;
  top: 1.2rem;
  right: 0rem;
  font-size: 26px;
  cursor: pointer;
}
@media only screen and (min-width: 769px) {
  #login-section .login-modal .login-interface .close-modal,
  #login-section .login-modal .register-interface .close-modal {
    right: 1rem;
  }
}
#login-section .login-modal .login-interface h2,
#login-section .login-modal .register-interface h2 {
  margin-bottom: 0;
}
#login-section .login-modal .login-interface p,
#login-section .login-modal .register-interface p {
  margin: 0;
}
#login-section .login-modal .login-interface .contact-form,
#login-section .login-modal .register-interface .contact-form {
  margin: 0;
}
#login-section .login-modal .login-interface .a-link:before,
#login-section .login-modal .register-interface .a-link:before {
  width: 100%;
}
#login-section .login-modal .login-interface .a-link:after,
#login-section .login-modal .register-interface .a-link:after {
  content: none;
}

.search-bar {
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 2rem !important;
  padding-left: 2rem;
  padding-right: 2rem;
}
.search-bar form {
  position: relative;
  display: flex;
  padding: 2.5rem 3rem;
  background-color: #ffffff;
}
@media only screen and (min-width: 769px) {
  .search-bar form {
    flex-direction: row;
  }
}
.search-bar form label {
  margin-bottom: 0;
}
.search-bar form .radio-inputs {
  display: flex;
  gap: 0.5rem;
}
@media only screen and (min-width: 769px) {
  .search-bar form .radio-inputs {
    flex-direction: column;
  }
}
.search-bar form .radio-inputs div {
  display: flex;
}
.search-bar form .not-radio-inputs {
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  flex-grow: 2;
}
.search-bar form button {
  position: absolute;
  bottom: -2rem;
  left: 90%;
  transform: translateX(-4rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem 1rem;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
}

.slider {
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 100%;
  text-align: center;
  transform: none;
}
.slider article {
  min-width: 100%;
}
.slider span {
  font-weight: bold;
}

.container-testimony .slider-arrow {
  position: absolute;
  top: 48%;
  font-size: 40px;
  color: #009A70;
  cursor: pointer;
}
.container-testimony .slider-arrow.arrow-left {
  left: 1.5rem;
}
.container-testimony .slider-arrow.arrow-right {
  right: 1.5rem;
}

.property-carrousel .slider-arrow {
  position: absolute;
  padding: 0.6rem 0.8rem;
  top: 48%;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
@media only screen and (min-width: 769px) {
  .property-carrousel .slider-arrow {
    padding: 0.6rem 1rem;
    font-size: 25px;
  }
}
.property-carrousel .slider-arrow.arrow-left {
  left: 0.5rem;
}
@media only screen and (min-width: 769px) {
  .property-carrousel .slider-arrow.arrow-left {
    left: 1.5rem;
  }
}
.property-carrousel .slider-arrow.arrow-right {
  right: 0.5rem;
}
@media only screen and (min-width: 769px) {
  .property-carrousel .slider-arrow.arrow-right {
    right: 1.5rem;
  }
}
.property-carrousel .img-container img {
  max-height: inherit;
}
